/*!-----------------------------------------------------------------
  Name: Cosmetic Mobile Version
  Version: 1.0.0
  Author: Yudhistira EP <yudhistira.ep@gmail.com>
  Copyright 2017.
-------------------------------------------------------------------*/

html, body {
  height: 100%;
}

body {    
	padding-top: 52px;
  font: 14px/1.42857143 'Roboto', sans-serif;
}

body.navbar-more-show  {
	overflow: hidden;
}

textarea {
	resize: none;
}

 a:hover,
 a:active,
 a:focus {
	text-decoration: none;
}
.panel-group {
	margin-bottom: 10px;
}

.tab-content {
	margin-bottom: 10px;
}

.borderless td, 
.borderless th, 
.borderless tr  {
  border: none !important;
}

.mtop10 {
	margin-top: 10px;
}

.mtop20 {
	margin-top: 20px;
}

.mbot10 {
	margin-bottom: 10px;
}

.btn-pink {
	background-color: #ff3399;
  border-color: #ff1a8c;
  color: #fff;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
	background-color: #e60073;
  border-color: #ff0080;
  color: #fff;
}

.pink {
	color: #ff3399;
}

.pink:hover,
.pink:active,
.pink:focus {
	color: #e60073;
}

.sort {
	margin: 10px 0;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

text.menu-sm {
	display: none;
}

.navbar {
	-webkit-transform: translate(0px, calc(-100% + 52px));
	transform: translate(0px, calc(-100% + 52px));
}

.navbar-nav {
	display: block;
	float: none;
}

.navbar .container:not(.navbar-more) {
	padding: 0px;
}

.navbar-more-overlay {
	background-color: rgba(102, 102, 102, 0.55);
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1029;
}

.navbar-more-show > .navbar-more-overlay {
	display: block;
}

.navbar-more-show > .navbar {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.navbar-nav.mobile-bar {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 0px 0px;
}

.navbar-nav > li > a span.badge {
	background-color: #ff0000;
	font: 10px "Roboto",sans-serif;
	height: 20px;
	left: 50%;
	padding: 4px;
	position: absolute;
	top: 50%;
	transform: translate(0px, -22px);
	width: 20px;
	line-height: 15px;
}

.navbar-nav.mobile-bar > li {
	-webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  width: 19.9%;
}

.navbar-nav.mobile-bar > li > a {
  padding: 10px 0 5px;
}

.navbar-nav.mobile-bar > li > a > span.menu-icon {
	display: block;
	font-size: 1.2em;
}

.navbar-more {
	background-color: rgb(255, 255, 255);
	height: calc(100% - 69px);
	overflow: auto;
	display: none;
}

.navbar-more .navbar-form {
	border-width: 0px;
}

.navbar-more .navbar-nav > li > a,
.navbar-more .navbar-nav > li > a:hover,
.navbar-more .navbar-nav > li > a:focus,
.navbar-more .navbar-nav > li > a:active {
	color: rgb(0, 0, 0);   
}

.navbar-more > .navbar-nav > li > a > span.menu-icon {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 15px;
	text-align: center;
}

.navbar-more > .navbar-nav > li > a:hover,
.navbar-more > .navbar-nav > li > a:focus,
.navbar-more > .navbar-nav > li > a:active {
	background-color: #ccc;
}

.navbar-more .logo {
	margin: 10px;
	text-align: center;
}

.navbar-more .logo img {
	height: 50px;
}

.navbar-more .list-inline > li {
	width: 32%;
	margin-top: 5px;
}

.navbar-more .list-inline > li > a {
	border-radius: 3px;
  color: #ff3399;
  display: block;
  padding: 2px 5px;
  text-decoration: none;
}

.navbar-more .list-inline > li > a > span {
	text-align: center;
  width: 20px;
}

.navbar-more .list-inline > li > a:hover,
.navbar-more .list-inline > li > a:focus,
.navbar-more .list-inline > li > a:active {
	background-color: #ccc;
	color: #fff;
}

.navbar-more .list-inline > li.active > a{
	background-color: #ccc;
	color: #fff;
}

#main-banner {
	padding-right: 0;
	padding-left: 0;
}

/* Makes images fully responsive */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 5px 0 5px 25px;
  color: #fff;
  text-align: left;
}

.carousel-caption > a {
	color: #fff;
}

#carousel-main-banner .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  z-index: 15;
  margin: 0;
  padding: 0 25px 5px 0;
  text-align: right;
  left: unset;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.brand,
.product,
.blog,
.redeem {
	margin: 0 -10px;
	padding-top: 5px;
}

.brand .item,
.product .item,
.blog .item,
.redeem .item {
	float: left;
	padding: 5px;
	width: 50%;
	margin-top: 10px;
}

.brand .item > a,
.blog .item > a {
	text-decoration: none;
}

.brand .item .thumbnail,
.product .item .thumbnail,
.blog .item .thumbnail,
.redeem .item .thumbnail {
	padding: 0;
	border-radius: 10px;
	box-shadow: 0 1px 5px grey;
	border: none;
	margin-bottom: 0;
	position: relative;
}

.brand .item .thumbnail > img,
.product .item .thumbnail > img,
.blog .item .thumbnail > img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 3px 3px -2px grey;
}

.brand .item .thumbnail > .caption,
.blog .item .thumbnail > .caption {
	padding: 5px;
}

.brand .item .thumbnail > .caption > p,
.product .item .thumbnail > .caption > p,
.blog .item .thumbnail > .caption > p {
	margin: 0;
	text-align: center;
}

.info {
	color: #000;
	padding: 10px 10px;
}

.info p {
	font-size: 11px;
  font-weight: 100;
  margin: 0;
}

.info h5 {
	margin: 0;
	color: #337ab7;
}

.price {
	display: table;
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
	width: 100%;
}

.price .rate {
  float: left;
  font-size: 24px;
  width: 35%;
  color: #ff3399;
}

.price .retail {
  color: #ccc;
  float: left;
  font-size: 10px;
  font-weight: 400;
  text-decoration: line-through;
  width: 65%;
}

.price .our {
  float: left;
  font-size: 14px;
  width: 65%;
}

.product > h4,
.blog-menu h4 {
  color: #fff;
  padding: 3px 0;
  position: relative;
  text-align: center;
  z-index: 2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background: #ff99cc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff99cc), to(#ff80bf));
	background: -webkit-linear-gradient(top, #ff99cc, #ff80bf);
	background: -moz-linear-gradient(top, #ff99cc, #ff80bf);
	background: -ms-linear-gradient(top, #ff99cc, #ff80bf);
	background: -o-linear-gradient(top, #ff99cc, #ff80bf);
	color: #fff;
}

.product > h4 {
	text-align: left;
}

.product > h4 span,
.blog-menu h4 span {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  display: block;
  padding: 3px 5px;
}

.product h4 span a {
  color: #fff;
  float: right;
  font-size: 12px;
  line-height: 18px;
}

.product.best-seller,
.product.featured {
	margin-bottom: 20px;
}

.share {
	margin-bottom: 10px;
}

.ribbon {
  position: absolute;
  right: -5px; 
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; 
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FF3399 0%, #DE2C85 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #DE2C85;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #DE2C85;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #DE2C85;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #DE2C85;
}

.navbar.detail {
	transform: unset;
	min-height: unset;
}

.navbar.detail li > a span.badge {
	transform: translate(0px, -13px);
}

.navbar.detail .mobile-bar > li {
	max-width: 50px;
	list-style-position:inside;
	border-right: 1px solid #4d4d4d;
}

.navbar.detail .mobile-bar > li:last-child {
	border: unset;
}

.navbar.detail .mobile-bar > li.product-name {
	max-width: unset;
}

#product-gallery {
	padding-bottom: 40px;
}

#product-gallery .carousel-inner > .item > img,
#product-gallery .carousel-inner > .item > a > img {
  display: block;
  margin: 0 auto;
  height: 165px;
  width: unset;
}

#product-gallery .carousel-indicators li {
	border: 1px solid #337ab7;
	margin-bottom: -50px;
}

#product-gallery .carousel-indicators .active {
	background-color: #337ab7;
}

#product-detail .info {
	padding: 10px 0;
}

#product-detail .info p {
	font-size: 14px;
}

#product-detail .info h5 {
	font-size: 20px;
	color: #337ab7;
}

#product-detail .price .rate {
  width: 25%;
  font-size: 32px;
}

#product-detail .price .retail {
	font-size: 12px;
}

#product-detail .price .our {
	font-size: 16px;
}

#product-detail .input-group input  {
	text-align: center;
}

#product-detail .action {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#product-detail .action button {
	display: inline-block;
	width: 49.4%;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs > li {
	width: 50%;
}

.nav-tabs > li > a {
	border-radius: 0;
  padding: 8px 5px 5px 5px;
  text-align: center;
  margin: 0;
  background-color: #eee;
  color: #555;
  border-bottom: 1px solid #fff;
  outline: none;
}

.nav-tabs > li > a:hover {
	border-bottom: 1px solid #fff;
	color: #ff3399;
}

.nav-tabs > li.active > a {
	border-top: 3px solid #555;
  padding: 5px;
  background-color: unset;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
	border-top: 3px solid #555;
	border-bottom: unset;
	color: #555;
}

/* Review comment */
.panel.review {
  border: 1px solid #dddddd;
	margin: 10px 0 0;
}

.tab-pane .panel-white .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.tab-pane .panel-white .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

div.comment {
	margin-bottom: 10px;
}

.review .post-heading {
  height: 95px;
  padding: 20px 15px;
}

.comment .post-heading {
  height: 55px;
}

.review .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}

.review .post-heading .meta .title {
  margin: 0;
}

.review .post-heading .meta .title a {
  color: black;
}

.review .post-heading .meta .title a:hover {
  color: #aaaaaa;
}

.review .post-heading .meta .time {
  margin: 5px 0 0 0;
  color: #999;
}

.comment .post-heading .meta .time {
  margin: 0;
}

.review .post-image .image {
  width: 100%;
  height: auto;
}

.review .post-description {
  padding: 0 15px 15px;
}

.review .post-description p {
  font-size: 14px;
}

.review .post-description .stats {
  margin-top: 20px;
}

.review .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}

.review .post-description .stats .stat-item .icon {
  margin-right: 8px;
}

.ratings {
  margin-top: 5px;
  display: flex;
  vertical-align:	;
}

.ratings small {
	font-size: 12px;
	color: #ff99cc;
}

.star-ratings {
  background: rgba(0, 0, 0, 0) url("../img/star-rating.png") repeat-x scroll 0 0 / 15px auto;
  font-size: 0;
  height: 15px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 75px;
  margin-right: 5px;
}

.star-ratings-sprite {
  background: rgba(0, 0, 0, 0) url("../img/star-rating.png") repeat-x scroll 0 100% / 15px auto;
  display: block;
  float: left;
  height: 14px;
}

.ratings.comments .star-ratings {
  background: rgba(0, 0, 0, 0) url("../img/star-rating-gold.png") repeat-x scroll 0 0 / 15px auto;
}

.ratings.comments .star-ratings-sprite {
  background: rgba(0, 0, 0, 0) url("../img/star-rating-gold.png") repeat-x scroll 0 100% / 15px auto;
}

#cart {
	padding: 0;
	font-size: 12px;
  font-weight: 300;
}

#cart .edit-btn {
	color: #ff3399;
	font-size: 12px;
}

#cart .edit-btn:hover,
#cart .edit-btn:active,
#cart .edit-btn:focus {
	text-decoration: none;
	color: #ff3399;
}

.cart-header {
	background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  padding: 5px;
}

.cart-header > div {
	margin: 0 auto;
}

.cart-header .pull-right {
	margin-top: 3px;
}

.cart-body,
.cart-info {
	padding: 5px;
	margin: 0 auto;
}

.cart-info {
	margin-bottom: 5px;
}

.cart-item {
	border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.cart-item:last-child {
	margin-bottom: 0;
}

.cart-item .images {
	float: left;
  max-height: 50px;
  max-width: 75px;
  overflow: hidden;
  text-align: center;
  width: 75px;
  border: 1px solid #eee;
}

.cart-item .title {
  padding: 0 10px;
  width: 68%;
  float: left;
}

.cart-item .title > h5 {
  line-height: 1.2em;
	max-height: 2.4em;
	overflow: hidden;
	margin: 0;
}

.cart-item .title p {
	margin-bottom: 0;
	line-height: 17px;
}

.cart-item .action {
	float: right;
}

.cart-item .desc {
	float: left;
  width: 100%
}

.cart-item .desc .well {
	margin: 5px 0;
  padding: 5px;
}

.cart-item .desc .table {
	margin-bottom: 0;
}

.cart-item .desc .table th {
  padding: 0;
  width: 60px;
}

.cart-item .desc .table td {
  padding: 0 2px;
}

.cart-item .desc .notes-input,
.cart-item .desc .color-input {
	display: none;
}

.cart-item .desc .notes-input textarea,
.cart-item .desc .color-input select {
	margin-bottom: 5px;
	resize: none;
}

.cart-item .input-group {
  width: 70px;
}

.cart-item .input-group .value-control {
  padding: 0 5px;
}

.input-group-btn:first-child > .btn, 
.input-group-btn:first-child > .btn-group {
    margin-right: -2px;
}

.cart-item .input-group input {
  padding: 5px;
  text-align: center;
  height: 20px;
  padding: 0;
}

.cart-item .amount {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.cart-item .amount div:not(.input-group) {
    color: #999;
}

.cart-item .amount td {
	border-top: unset;
	line-height: 23px;
}

.cart-item .amount td:first-child,
.cart-item .amount td:last-child {
	width: 35%;
}

.cart-item .form-control,
.cart-item .btn {
	font-size: 12px;
  	font-weight: 300;
}

.cart-item .amount .form-control {
	height: 23px;
}

.cart-item .amount .btn {
	padding: 2px 10px;
}

.cart-info .shipment,
.cart-info .courier {
	padding-bottom: 10px;
}

.cart-info > div {
	border: 1px solid #ccc;
	padding: 10px 5px 0;
	border-bottom: none;
}

.cart-info > div:last-child {
	border-bottom: 1px solid #ccc;
}

.cart-info h5 {
	margin-top: 0;
}

.cart-info p {
	margin-bottom: 0;
}

.cart-info h5 strong {
	color: #000;
}

a.checkout {
	border-radius: 0;
}

ul.blog-menu {
	margin-bottom: 0;
}

.blog-menu > li {
	width: 49.4%;
}

.blog-menu > li.active h4 {
	color: #cc0066;
}

.blog-menu > li a:hover,
.blog-menu > li a:focus,
.blog-menu > li a:active {
	text-decoration: none;
}

.blog-menu > li a:hover h4 span,
.blog-menu > li a:focus h4 span,
.blog-menu > li a:active h4 span {
	color: #cc0066;
}

.blog .item .thumbnail iframe {
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  width: 100%;
  border: none;
}

.blog .item .thumbnail .date {
	background: #ff3399 none repeat scroll 0 0;
  border-top-left-radius: 10px;
  color: #fff;
  font-size: 8px;
  left: 0;
  padding: 1px 10px;
  position: absolute;
  top: 0;
}

.blog-title {
	font-size: 24px;
}

.blog-image {
	margin-bottom: 10px;
}

.blog-meta {
	font-size: 12px;
}

h1.page-title {
	font-weight: 400;
	border-bottom: 1px solid #555555;
	font-size: 20px;
}

label {
	font-weight: 300;
}

label.required span {
	color: #d9673b;
}

p.required {
	text-align: left;
	color: #eb340a;
}

div.button-set {
	display: block;
	margin: 10px 0 50px;
}

div.button-set div {
	width: 50%;
}

div.button-set a:not(.btn) {
	margin-right: 10px;
	line-height: 30px;
}

h2.legend {
	background-color: #cfcfcf;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 5px 10px;
}

.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"], 
.radio input[type="radio"], 
.radio-inline input[type="radio"] {
	margin-top: 3px;
}

h4.checkout-subtitle {
	margin-top: 30px;
}

h4.checkout-subtitle a {
	padding-top: 3px;
}


#shipping-address {
	display: none;
}

.payment-method label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.payment-method label > input + img { /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid #ccc;
  padding: 10px;
  width: 107px;
}

.payment-method label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.user-block {
	min-height: 435px;
}

p.heading {
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}

small.contact {
	display: inline-block;
  width: 40px;
}

#profile-form,
#address-form,
#transaction-detail  {
	display: none;
	margin-top: 20px;
	margin-bottom: 10px;
}

a#add-address {
	float: right;
	text-decoration: none;
	margin-top: 5px; 
}

.datatable.transaction small,
.datatable.redeems small {
	display: inline-block;
  width: 50px;
  color: #777;
}

.datatable.transaction thead,
.datatable.redeems thead {
	display: none;
}

.dataTables_wrapper {
	margin-top: 10px;
}

h1.title {
	font-size: 24px;
}

.tagline {
	color: #999;
  letter-spacing: 4px;
  margin-top: 5px;
}

p.dashed,
h4.dashed {
  position: relative;
  z-index: 1;
}

p.dashed:before,
h4.dashed:before {
  border-top: 1px solid #000;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h4.dashed:before {
	width: 100%;
}

p.dashed span,
h4.dashed span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 15px;
}

.about-company {
  background-color: #ffe5f3;
  margin-top: 70px;
  padding-top: 70px;
  font-weight: bold;
}

.about-company .vision {
  display: inline-table;
  padding: 0 10px 10px;
  position: relative;
  text-align: center;
  width: 40%;
}

.about-company .vision > span {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 120px;
  left: 0;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 18px;
  position: absolute;
  right: 0;
  top: -131px;
  width: 120px;
}

.about-company .vision > span i {
  color: #fff;
  font-size: 60px;
  padding-left: 5px;
}

.about-message {
  font-weight: 300;
  margin: 50px auto 10px;
  padding: 10px;
  text-align: left;
  width: 90%;
  -webkit-box-shadow: 3px -1px 6px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px -1px 6px 3px rgba(153,153,153,1);
	box-shadow: 3px -1px 6px 3px rgba(153,153,153,1);
}

.about-message h3 {
	font-weight: 300;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#address-list .modal-body {
	height: 400px;
	overflow: scroll;
}

.write-review {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.write-review textarea {
	margin-bottom: 10px;
}

.write-review small {
	margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 1px;
}

h4.address-title {
	margin-top: 3px;
}

.redeem {
	margin-bottom: 10px;
}

.redeem .item img {
	padding-top: 10px;
}

.redeem .item h5,
.redeem .item p {
	text-align: center;
}

#forgot-password {
	min-height: 441px;
}

.success-message {
  margin: 100px 0;
  text-align: center;
}

.success-message i {
	font-size: 100px;
	color: #ff3399;
}

footer {
	overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
}

footer .social {
	overflow: hidden;
  padding: 10px;
  text-align: center;
  background: #ffcce6 none repeat scroll 0 0;
  color: #ff3399;
}

footer .social .icons a {
  color: #ff3399;
}

footer .social .icons a:hover {
	text-decoration: none;
}

footer .social .icons a i {
  display: inline-block;
  font-size: 4rem;
  padding: 10px 0;
  position: relative;
  color: #ff3399;
}

footer .social .icons a span {
	display: block;
}

footer .copyright {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
}

@media (min-width: 480px) {
	.price .rate {
	  width: 30%;
	}

	.price .retail {
	  width: 70%;
	}

	.price .our {
	  width: 70%;
	}

	#product-gallery .carousel-inner > .item > img,
	#product-gallery .carousel-inner > .item > a > img {
	  height: 225px;
	}

	#product-detail .price .rate {
		width: 17%;
	}

	.cart-item .title {
	  width: 76%;
	}

	text.menu-sm {
		display: block;
	}

	text.menu-xs {
		display: none;
	}
}

@media (min-width: 640px) {
	.brand .item,
	.product .item,
	.blog .item,
	.redeem .item {
		width: 33.3%;
	}

	#product-gallery .carousel-inner > .item > img,
	#product-gallery .carousel-inner > .item > a > img {
	  height: 305px;
	}

	#product-detail .price .rate {
		width: 13%;
	}
	
	.cart-item .title {
	  width: 82%;
	}
}

@media (min-width: 768px) {
	.navbar-nav.mobile-bar {
		max-height: 64px;
		margin: 0px -15px;
	}
}